# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build output
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
